venv/
extra/
.mypy_cache
__pycache__
*.log
*.pyc
SECRETS
.permissions
docker-compose.yml

# For simplified test deployment
common/easyrsa
common/pki
common/full-chain.cert.pem
common/kme-ca.cert.pem
common/kme-ca.key.pem
