# Elliptic Curve Name (openssl ecparam -list_curves)
EC_NAME=secp384r1

# Root Certificate Authority Information
export CA_COUNTRY_CODE="US"
export CA_STATE="Texas"
export CA_LOCALITY="Austin"
export CA_ORGANIZATION="Quantum Internet Technologies LLC"
export CA_UNIT="Quantum Hacking Division"
export CA_COMMON_NAME="Root CA ${LOCAL_KME_ID}"
export CA_EMAIL="admin@example.com"

# Intermediate Certificate Authority Information
export INT_CA_COUNTRY_CODE="${CA_COUNTRY_CODE}"
export INT_CA_STATE="${CA_STATE}"
export INT_CA_LOCALITY="${CA_LOCALITY}"
export INT_CA_ORGANIZATION="${CA_ORGANIZATION}"
export INT_CA_UNIT="${CA_UNIT}"
export INT_CA_COMMON_NAME="Intermediate CA ${LOCAL_KME_ID}"
export INT_CA_EMAIL="${CA_EMAIL}"

# Subject Alternative Names (SANs) for Intermediate CA
export ALT_NAMES=$(cat << EOA
DNS.1 = localhost
DNS.2 = vault
DNS.3 = vault_init
DNS.4 = rest
DNS.5 = kme1
DNS.6 = kme2
DNS.7 = 172.16.192.*
DNS.8 = 192.168.1.*
IP.1 = 127.0.0.1
IP.2 = 192.168.1.153
IP.3 = 192.168.1.75
IP.4 = 192.168.1.90
EOA
)
