aiofiles==0.7.0
anyio==3.2.1
asgiref==3.4.1
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
fastapi==0.66.0
gunicorn==20.1.0
h11==0.12.0
httpcore==0.13.6
httptools==0.2.0
httpx==0.23.0
hvac==0.10.14
idna==2.10
pydantic==1.8.2
pyhcl==0.4.4
python-dotenv==0.18.0
PyYAML==5.4.1
requests==2.25.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
starlette==0.14.2
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.14.0
uvloop==0.15.2
watchgod==0.7
websockets==9.1
